.popup__submit-button_disabled {
  background-color: #FFFFFF;
  opacity: 0.2;

}

.form__input_invalid {
  border-bottom-color: red;
}

.popup__error {
  width: 358px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  line-height: 15px;
  line-height: 100%;
  color: #ff0000;
  border: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .popup__error {
    width: 238px;
  }
}
