.popup__close-button {
    background-image: url(../../../images/Close_Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    Width: 32px;
    Height: 32px;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        Width: 20px;
        Height: 20px;
        right: 0;
        top: -26px
    }
}