.elements__like-button {
    background-image: url(../../../images/Like.svg);
    background-repeat: no-repeat;
    border: none;
    margin-right: 20px;
    width: 22px;
    height: 19px;
}

.elements__like-button:hover {
    opacity: 0.5;
}

.elements__like-button:active {
    background-image: url(../../../images/like_active.svg);
}